.ssh_deploy_docker_compose:
  image: alpine:3.20
  environment:
    name: $DEPLOY_ENV  
  script:
    - apk update
    - apk add gettext openssh-client

    - SERVER_IP_ENV=$(eval echo \$SERVER_IP_${ENV_SUFFIX})
    - SSH_PRIVATE_KEY_ENV=$(eval echo \$SSH_PRIVATE_KEY_${ENV_SUFFIX})
    - ENV_FILE=$(eval echo \$env${CONTUR_NAME}_${ENV_SUFFIX})

    - chmod 600 $SSH_PRIVATE_KEY_ENV

    - ssh -i $SSH_PRIVATE_KEY_ENV -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP_ENV "mkdir -p $SERVER_SERVICE_FOLDER;"

    - scp -i "$SSH_PRIVATE_KEY_ENV" -o StrictHostKeyChecking=no $DOCKER_COMPOSE_PATH/docker-compose.yml "$SERVER_USER@$SERVER_IP_ENV:$SERVER_SERVICE_FOLDER/docker-compose.yml"
    - scp -i "$SSH_PRIVATE_KEY_ENV" -o StrictHostKeyChecking=no $ENV_FILE "$SERVER_USER@$SERVER_IP_ENV:$SERVER_SERVICE_FOLDER/.env"
    
    - ssh -i "$SSH_PRIVATE_KEY_ENV" -o StrictHostKeyChecking=no "$SERVER_USER@$SERVER_IP_ENV" "
        cd $SERVER_SERVICE_FOLDER &&
        docker compose down || true
      "

    - ssh -i "$SSH_PRIVATE_KEY_ENV" -o StrictHostKeyChecking=no "$SERVER_USER@$SERVER_IP_ENV" "
        cd $SERVER_SERVICE_FOLDER &&
        docker login -u '$REGISTRY_USER' -p '$REGISTRY_TOKEN' '$CI_REGISTRY' &&
        docker compose up -d --pull always &&
        docker image prune -f
      "