on:
  workflow_call:
    inputs:
      project_folder:
        type: string
        default: .

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Restore dotnet local tools
        working-directory: ${{ inputs.project_folder }}
        run: dotnet tool restore

      - name: Run .NET format
        working-directory: ${{ inputs.project_folder }}
        run: dotnet format --verify-no-changes --severity warn
