on:
  workflow_call:
    inputs:
      project_folder:
        type: string
        default: .

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dotnet-format
        run: |
          dotnet tool install -g dotnet-format || true
          echo "$HOME/.dotnet/tools" >> $GITHUB_PATH

      - name: Run .NET format
        working-directory: ${{ inputs.project_folder }}
        run: |
          dotnet tool restore
          dotnet format --verify-no-changes
